<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NodeJS Benchmark
  body
    ul
      li
        a(href="/modelview/authors") Authors
      li
        a(href="/modelview/books") Books
    br
    h1 Authors
    br
    table
      thead
        tr
          th ID
          th First Name
          th Last Name
      tbody
        if authors.length > 0
          each author in authors
            tr
              td
                a(href="/modelview/authors/" + author.id) #{author.id}
              td= author.first_name
              td= author.last_name
        else
          tr
            td(colspan=3) No items found
    br
    a(href="/modelview/authors/new") Add new author
