<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NodeJS Benchmark
  body
    ul
      li
        a(href="/modelview/authors") Authors
      li
        a(href="/modelview/books") Books
    br
    h1 Add new author
    br
    if errors
      ul(style="text-color: red;")
        each error in errors
          li= error
      br
    form(method="POST", action="/modelview/authors/new")
      div
        label(for="first_name") First Name&nbsp;
        input(type="text", id="first_name", name="first_name")
      div
        label(for="last_name") Last Name&nbsp;
        input(type="text", id="last_name", name="last_name")
      button(type="submit") Add
    br
    a(href="/modelview/authors") Back
